<table border="1" cellspacing="1" cellpadding="0">
  <tr>
    <th><%= Currency.human_attribute_name( 'name' ) %></th>
    <td><%=h @currency.name %></td>
  </tr>
  <tr>
    <th>
      <%= Currency.human_attribute_name( 'code' ) %>
      (<a target="_blank" href="http://www.iso.org/iso/support/faqs/faqs_widely_used_standards/widely_used_standards_other/currency_codes/currency_codes_list-1.htm">ISO 4217</a>)
      (<a target="_blank" href="http://en.wikipedia.org/wiki/ISO_4217">?</a>)
    </th>
    <td><%=h @currency.code %></td>
  </tr>
  <tr>
    <th><%= Currency.human_attribute_name( 'symbol' ) %></th>
    <td>"<%=h @currency.symbol %>"</td>
  </tr>
  <tr>
    <th><%= Currency.human_attribute_name( 'show_after_number' ) %></th>
    <td><%= apphelp_boolean( @currency.show_after_number ) %></td>
  </tr>
  <tr>
    <th><%= Currency.human_attribute_name( 'decimal_precision' ) %></th>
    <td><%=h @currency.decimal_precision %></td>
  </tr>
  <tr>
    <th><%= Currency.human_attribute_name( 'rounding_algorithm' ) %></th>
    <td><%=h currencyhelp_rounding_algorithm( @currency.rounding_algorithm ) %></td>
  </tr>
  <tr>
    <th><%= Currency.human_attribute_name( 'formatting_template' ) %></th>
    <td>
      "<%=h @currency.integer_template %>"
<% if @currency.decimal_precision > 0 -%>
      "<%=h @currency.delimiter %>"
      "<%=h @currency.fraction_template %>"
<% end -%>
    </td>
  </tr>
  <tr valign="top">
    <th><%= Currency.human_attribute_name( 'examples' ) %></th>
    <td>
      <%= currencyhelp_print( @currency, rand(     10000 ) / ( rand * 10000 ) ) %><br />
      <%= currencyhelp_print( @currency, rand(   1000000 ) / ( rand * 10000 ) ) %><br />
      <%= currencyhelp_print( @currency, rand( 100000000 ) / ( rand * 10000 ) ) %><br />
      <%= currencyhelp_print( @currency, '1212121212.1212121212'              ) %><br />
      <%= currencyhelp_print( @currency, '8989898989.8989898989'              ) %><br />
      <%= currencyhelp_print( @currency, '5555555555.5555555555'              ) %>
    </td>
  </tr>
</table>

<p />
<div class="buttons">
  <%=
    apphelp_protected_buttons_to(
      [ :edit,  { :method => :edit_currency_path  }, @currency ],
      [ :index, { :method => :currencies_path     }            ]
    )
  %>
</div>