<table border="1" cellspacing="1" cellpadding="0">
  <tr>
    <th><%= User.human_attribute_name( :name ) %></th>
    <td><%= h( @user.name ) %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name( :email ) %></th>
    <td><%= mail_to( @user.email ) %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name( :admin ) %></th>
    <td><%= apphelp_boolean( @user.admin ) %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name( :yours ) %></th>
    <td><%= apphelp_boolean( @user.id == current_user.try( :id ) ) %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name( :created_at ) %></th>
    <td><%= @user.created_at %></td>
  </tr>
</table>

<p />
<div class="buttons">
  <%=
      apphelp_protected_buttons_to(
        [
          :index,
          {
            :method     => :user_donations_path,
            :controller => DonationsController,
            :text       => donationshelp_index_text( @user )
          },
          { :user_id => @user.id }
        ],
        [
          :index,
          {
            :method     => :user_polls_path,
            :controller => PollsController,
            :text       => pollshelp_index_text( @user )
          },
          { :user_id => @user.id }
        ]
      )
  %>
</div>