<%
  # Make sure that "@items" contains the pagination-enabled list of items to
  # show and render with "render :partial => 'list'".
-%>
<div class="searchable_list" id="donations">
<% if @items.empty? -%>
  <%= apphelp_view_hint( :no_index_items ) %>
  <p />
  <div class="buttons">
    <%= apphelp_protected_button_to( :index, { :method => :polls_path, :controller => PollsController } ) %>
  </div>
  <br /><br />
<% else -%>
  <table border="1" cellspacing="1" cellpadding="0">
    <thead>
      <tr>
        <%
          sort_header_array  = params.has_key?( :poll_id ) && controller_name == "polls" ? [] : [ :poll_title ]
          sort_header_array += %w{ amount_for_sorting updated_at }
          sort_header_array  = %w{ user_name user_email } + sort_header_array if ( current_user.admin? )

          table_head_colspan = sort_header_array.count

          sort_headers_for :donation, sort_header_array do | header |
            Donation.human_attribute_name( header )
          end
        %>
        <th class="spinner corner"><div id="spinner" style="display: none"></div></th>
      </tr>
    </thead>

    <tbody>
<%   for donation in @items -%>
      <tr class="<%= cycle( 'odd', 'even' ) %>">
<%     if ( current_user.admin? ) -%>
<%       if ( donation.redistribution? ) -%>
        <td>&mdash;</td>
        <td>&mdash;</td>
<%       else -%>
        <td><%= donationshelp_user_link( donation ) %></td>
        <td><%= mail_to( donation.user_email ) %></td>
<%       end -%>
<%     end -%>
<%     unless ( params.has_key?( :poll_id ) && controller_name == "polls" ) %>
        <td><%= donationshelp_poll_link( donation ) %></td>
<%     end -%>
        <td class="financial">
          <span class="<%= donation.debit? ? 'donation_debit' : 'donation_credit' %>"><%= currencyhelp_compose( donation.currency, donation.amount_integer, donation.amount_fraction ) %></span>
<%     if ( donation.debit? ) -%>
          <br />
          <span class="view_hint"><%= apphelp_view_hint( :debit, DonationsController ) %></span>
<%     elsif ( donation.redistribution? ) -%>
          <br />
          <span class="view_hint"><%= apphelp_view_hint( :redistribution, DonationsController, :source => donationshelp_source_poll_link( donation ) ) %></span>
<%     end -%>
        </td>
        <td><%= donation.updated_at %></td>
        <td>
<%     if ( donation.redistribution? ) -%>
          &mdash;
<%     else -%>
          <%= apphelp_protected_link_to( :show, { :method => :user_donation_path, :controller => DonationsController }, { :id => donation.id, :user_id => donation.user_id } ) %>
<%     end -%>
        </td>
      </tr>
<%   end -%>
    </tbody>

<%
    # This may be rendered by the Polls Controller for a 'show' view, so don't
    # add any buttons if so. If rendered by the Donations Controller, add them.

    if ( controller_name == "donations" )
-%>
    <tfoot>
      <tr>
        <td colspan="<%= table_head_colspan + 1 %>">
          <div class="pagination">
            <%= apphelp_i18n_will_paginate( @items ) %>
          </div>
          <div class="buttons">
            <%= apphelp_protected_button_to( :index, { :method => :polls_path, :controller => PollsController } ) %>
<%=   render :partial => 'shared/leightbox_button' %>
          </div>
        </td>
      </tr>
    </tfoot>
<%   end -%>
  </table>
<% end -%>
</div>