<%= form_for( [ :poll, @donation ] ) do | f | %>
  <%= render "shared/error_messages", :target => @donation %>
  <%= f.hidden_field( :poll_id ) %>

  <p>
    <%= apphelp_view_hint( :preamble_hint, DonationsController, :poll_title => @poll.title ) %>
  </p>

  <p>
    <strong><%= apphelp_view_hint( :payment_amount_hint ) %></strong>
  </p>

  <p>
    <%= currencyhelp_edit( @poll.currency, f, :amount ) %>
  </p>

  <p>
    <strong><%= apphelp_view_hint( :payment_method_hint ) %></strong>
  </p>

  <p>
    <%= apphelp_view_hint( :payment_not_stored ) %>
  </p>

  <p></p>
<% if current_user.admin? -%>
    <table border="0" cellspacing="0" cellpadding="0" class="no_border abuted">
      <tr valign="top">
        <td>
          <%= radio_button_tag( :payment_method, :none, params[ :payment_method ] == 'none' ) -%>
        </td>
        <td>
          <%= label_tag( :payment_method_none, apphelp_view_hint( :payment_none_hint ) ) %>
          <table border="0" cellspacing="0" cellpadding="0" class="no_border abuted">
            <tr valign="top">
              <td align="right">
                <small><em><%= apphelp_view_hint( :and_if_so_donor_name ) %></em></small>
              </td>
              <td><%= text_field_tag( :payment_none_donor_name ) %></td>
            </tr>
            <tr valign="top">
              <td align="right">
                <small><em><%= apphelp_view_hint( :and_donor_email ) %></em></small>
              </td>
              <td><%= text_field_tag( :payment_none_donor_email ) %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<% end -%>

  <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?currency=GBP&client-id=<%= PAYPAL_CLIENT_ID %>"></script>
    <script>
      paypal.Buttons({
        env: '<%= Rails.env.production? ? "live" : "sandbox" %>',
        style: {
          color: 'blue',
          shape: 'pill'
        },

        createOrder: async () => {
          const response = await fetch('/paypal/request', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              "poll_id":         document.getElementById('donation_poll_id'        ).value,
              "amount_integer":  document.getElementById('donation_amount_integer' ).value,
              "amount_fraction": document.getElementById('donation_amount_fraction').value
            })
          });

          // Assume that for errors, flash was set by controller.
          //
          if (response.ok != true) {
            window.location.href = '/';
            return nil;
          }
          else {
            const responseData = await response.json();
            return responseData.token;
          }
        },

        onApprove: async (data) => {
          await fetch('/paypal/confirm', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({token: data.orderID})
          });

          // Assume for error or otherwise, flash was set by the controller.
          //
          window.location.href = '/';
        }
      }).render('#paypal-button-container');
    </script>
  </div>

  <div class="buttons aligned">
    <%= apphelp_submit( f, "Make donation" ) %>
  </div>
<% end %>