<table border="1" cellspacing="1" cellpadding="0">
  <tr>
    <th><%= Donation.human_attribute_name( :invoice_number ) %></th>
    <td><%= @donation.invoice_number %></td>
  </tr>
  <tr>
    <th><%= Donation.human_attribute_name( :updated_at ) %></th>
    <td><%= @donation.updated_at %></td>
  </tr>
  <tr>
    <th><%= Donation.human_attribute_name( :poll_title ) %></th>
    <td><%= donationshelp_poll_link( @donation ) %></td>
  </tr>
  <tr>
    <th><%= Donation.human_attribute_name( :amount_for_sorting ) %></th>
    <td><%= currencyhelp_compose( @donation.currency, @donation.amount_integer, @donation.amount_fraction ) %></td>
  <tr>
</table>

<p>
  <%= apphelp_view_hint( :not_tax_invoice ) %>
</p>

<div class="buttons aligned">
  <%=
      apphelp_protected_button_to(
        :index,
        {
          :method => :user_donations_path,
          :text   => donationshelp_index_text( @donation.user )
        },
        { :user_id => @donation.user_id }
      )
  %>
<% if ( current_user.admin? ) -%>
  <%= apphelp_protected_button_to( :index, { :method => :donations_path } ) %>
<% end -%>
</div>