<%
  # Render as follows:
  #
  #   render(
  #     :partial => 'edit',
  #     :locals  => {
  #       :poll   => <poll>,
  #       :action => :create | :update
  #     }
  #   )
  #
  # ...where <poll> is the poll to edit and :action is used for the
  # internationalised text in the 'submit' action button. In addition,
  # a "delete" button is shown for the :update case.

  form_for( poll ) do | f | %>
  <%= f.error_messages %>

  <table border="1" cellspacing="1" cellpadding="0">
    <tr>
      <th><%= f.label :title %></th>
      <td>
        <%= f.text_field :title, :size => 30, :maxlength => Poll::MAXLEN_TITLE %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :currency %></th>
      <td>
<% if ( poll.votes.blank? || poll.votes.zero? ) -%>
        <%= currencyhelp_menu( Currency.all, { :form => f } ) %>
<% else -%>
        <%=h poll.currency.name %>
        <br />
        <span class="view_hint">
          <%= apphelp_view_hint( :cannot_change_currency_hint ) %>
        </span>
<% end -%>
      </td>
    </tr>
<% if ( action == :update ) -%>
    <tr>
      <th><%= f.label :workflow_state %></th>
      <td>
        <%= apphelp_state( poll.workflow_state, PollsController ) %>
        &rArr;
        <%= pollshelp_state_change_menu( f, poll ) %>
        <%= help_link( "poll_states" ) %>
        <br />
        <span class="view_hint">
          <%= apphelp_view_hint( :state_change_care_hint ) %>
        </span>
      </td>
    </tr>
<% end -%>
  </table>

  <p />
  <%= f.label :description %>
  (<a target="_blank" href="http://redcloth.org/textile/">modern Textile</a>)
  <br />

  <div class="redcloth_preview_outer">
    <span class="redcloth_preview_title">
      <%= apphelp_view_hint( :preview ) %>
    </span>
    <div class="redcloth_preview_inner" id="description_preview">
      <noscript>
        <%= apphelp_view_hint( :preview_no_js ) %>
      </noscript>
    </div>
  </div>

  <%= f.text_area :description, :rows => 20, :cols => 80, :class => 'redcloth_preview_source' %>

  <script type="text/javascript">
    document.observe
    (
      "dom:loaded",
      function()
      {
        new RedClothPreview
        (
          'poll_description',
          'description_preview',
          '<%= redcloth_path() %>'
        );
      }
    );
  </script>

  <br style="clear: both;" />
  <p />
  <div class="buttons aligned">
    <%= apphelp_submit( f, action ) %>

<%   if ( action == :create ) -%>
    <%= apphelp_protected_button_to( :index, { :method => :polls_path } ) %>
<%   else -%>
    <%=
      apphelp_protected_buttons_to(
        nil,
        [ :show,  { :method => :poll_path  }, @poll ],
        [ :index, { :method => :polls_path }        ]
      )
    %>
<%   end -%>
  </div>
<% end %>