<%
  # Make sure that "@items" contains the pagination-enabled list of items to
  # show and render with "render :partial => 'list'".
-%>
<div class="searchable_list" id="polls">
<% if @items.empty? -%>
  <%= apphelp_view_hint( :no_index_items ) %>
  <p />
  <div class="buttons">
    <%= apphelp_protected_button_to( :new, { :method => :new_poll_path } ) %>
  </div>
  <br /><br />
<% else -%>
  <table border="1" cellspacing="1" cellpadding="0">
    <thead>
      <tr>
        <%
          sort_headers_for :poll, Poll.translated_sort_columns() do | header |
            Poll.human_attribute_name( Poll.untranslated_column( header ) )
          end
        %>
        <th class="spinner corner"><div id="spinner" style="display: none"></div></th>
      </tr>
    </thead>

    <tbody>
<%   for poll in @items %>
      <tr class="<%= cycle( 'odd', 'even' ) %> poll_state <%= poll.workflow_state %>">
        <td><%=h poll.title %></td>
        <td class="poll_state <%= poll.workflow_state %>">
          <%= apphelp_state( poll.workflow_state ) %>
          <%= help_link( "poll_states" ) %>
        </td>
        <td align="center"><%=h poll.votes %></td>
        <td align="right"><%= currencyhelp_compose( poll.currency, poll.total_integer, poll.total_fraction ) %></td>
        <td class="actions"><%= apphelp_index_actions( 'poll', poll ) %></td>
      </tr>
<%   end -%>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">
          <div class="pagination">
            <%= apphelp_i18n_will_paginate( @items ) %>
          </div>
          <div class="buttons">
            <%= apphelp_protected_button_to( :new, { :method => :new_poll_path } ) %>
<%= render :partial => 'shared/leightbox_button' %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
<% end -%>
</div>