<h1><%= h @poll.title %></h1>

<p />
<%= RedCloth.new( @poll.description || '' ).to_html %>

<table border="1" cellspacing="1" cellpadding="0">
  <tr>
    <th>
      <%= Poll.human_attribute_name( 'votes' ) %>
    </th>
    <td><%= @poll.votes %></td>
  </tr>
  <tr>
    <th><%= Poll.human_attribute_name( 'total' ) %></th>
    <td><%= currencyhelp_compose( @poll.currency, @poll.total_integer, @poll.total_fraction ) %></td>
  </tr>
  <tr>
    <th><%= Poll.human_attribute_name( 'workflow_state' ) %></th>
    <td class="poll_state">
      <%= apphelp_state( @poll.workflow_state ) %>
      <%= help_link( "poll_states" ) %>
    </td>
  </tr>
</table>

<p />
<div class="buttons aligned">
<% if ( @poll.workflow_state.to_sym == Poll::STATE_OPEN ) -%>
  <%=
    apphelp_protected_button_to(
      :new,
      {
        :method     => :new_poll_donation_path,
        :controller => DonationsController,
        :bypass     => true,
        :icon       => :donate
      },
      @poll
    )
  %>
<% end -%>
  <%=
    apphelp_protected_buttons_to(
      [ :index, { :method => :polls_path     }        ],
      [ :edit,  { :method => :edit_poll_path }, @poll ]
    )
  %>
</div>
<% if current_user.try( :admin? ) && @poll.donations.count > 0 -%>

<p />
<h3><%= apphelp_view_hint( :list_of_donations ) %></h3>

<p />
<%=  render :partial => 'donations/list' %>
<% end -%>