<h1><%= apphelp_heading() %></h1>

<% form_for :payment_card, @item, :url => { :action => :create } do | f | %>
  <%= f.error_messages %>

  <p>
    '<span class="required_indicator">(*)</span>' <%= apphelp_generic( :requirement_hint ) %>
  </p>

  <table class="no_border" border="0">
    <tr valign="top">
      <td>
        <p>
          <span class="required_label"><%= f.label :card_name %></span> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :card_name, :size => 30, :maxlength => User::MAXLEN_NAME %>
          <br />
          <span class="required_label"><%= f.label :card_number %></span> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :card_number, :autocomplete => 'off', :size => 30, :maxlength => PaymentCard::MAXLEN_CARD_NUMBER %>
<%   if ( ActiveMerchant::Billing::CreditCard.requires_verification_value? ) -%>
          <br />
          <span class="required_label"><%= f.label :card_cvv %></span> <%= help_link( :card_cvv ) %> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :card_cvv, :autocomplete => 'off', :size => 4, :maxlength => PaymentCard::MAXLEN_CARD_CVV %>
<%   end -%>
          <br />
          <span class="required_label"><%= f.label :card_type %></span> <span class="required_indicator">(*)</span><br />
          <%= purchasecardshelp_type_menu( f, :card_type ) %>
          <br />
          <span class="required_label"><%= f.label :card_to %></span> <span class="required_indicator">(*)</span><br />
          <%=
              f.date_select(
                :card_to,
                :add_month_numbers => true,
                :start_year       => Time.now.year,
                :end_year         => Time.now.year + 15,
                :discard_day      => true,
                :order            => [ :month, :year ],
                :include_blank    => true
              )
          %>
          <br />
          <%= f.label :card_from %><br />
          <%=
              f.date_select(
                :card_from,
                :add_month_numbers => true,
                :start_year       => Time.now.year - 15,
                :end_year         => Time.now.year,
                :discard_day      => true,
                :order            => [ :month, :year ],
                :include_blank    => true
              )
          %>
          <br />
          <%= f.label :card_issue %><br />
          <%= f.text_field :card_issue, :size => 30, :maxlength => PaymentCard::MAXLEN_CARD_ISSUE %>
          <br />
        </p>
      </td>

      <td>&nbsp;</td>

      <td>
        <p>
          <span class="required_label"><%= f.label :address_1 %></span> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :address_1, :size => 30, :maxlength => PaymentCard::MAXLEN_ADDRESS_1 %>
          <br />
          <%= f.label :address_2 %><br />
          <%= f.text_field :address_2, :size => 30, :maxlength => PaymentCard::MAXLEN_ADDRESS_2 %>
          <br />
          <%= f.label :address_3 %><br />
          <%= f.text_field :address_3, :size => 30, :maxlength => PaymentCard::MAXLEN_ADDRESS_3 %>
          <br />
          <span class="required_label"><%= f.label :city %></span> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :city, :size => 30, :maxlength => PaymentCard::MAXLEN_CITY %>
          <br />
          <%= f.label :state %><br />
          <%= f.text_field :state, :size => 30, :maxlength => PaymentCard::MAXLEN_STATE %>
          <br />
          <span class="required_label"><%= f.label :country %></span> <span class="required_indicator">(*)</span><br />
          <%= f.text_field :country, :size => 30, :maxlength => PaymentCard::MAXLEN_COUNTRY %>
          <br />
          <%= f.label :postcode %><br />
          <%= f.text_field :postcode, :size => 30, :maxlength => PaymentCard::MAXLEN_POSTCODE %>
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div class="buttons aligned">
          <%= apphelp_submit( f, apphelp_view_hint( :review_order ), '  ' ) %>
          <%=
            apphelp_protected_button_to(
              :delete,
              {
                :method     => :delete_poll_payment_gateway_onsite_path,
                :controller => PaymentGatewayOnsiteController, 
                :model      => PaymentGateway,
                :icon       => :cancel,
                :variant    => :negative
              },
              { :poll_id => params[ :poll_id ] } # NOT just 'params' or URL generation fails
            )
          -%>
        </div>
      </td>
    </tr>
  </table>
<% end %>