<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= apphelp_title %></title>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<%= render 'shared/fixed_header' %>

    <div id="template_main">

      <!-- Main body content -->

      <div id="template_body" style="float: left; margin-right: 20px; border: 1px solid blue">
        <div id="template_body_content">
          <%= apphelp_flash() unless @service_fault -%>

          <div class="content">
<% unless controller.skip_main_heading? -%>
            <h1><%= apphelp_heading() %></h1>
<% end -%>
<%= yield %>
          </div>
        </div>
      </div>

      <!-- Sidebar -->

      <div id="template_sidebar" style="float: right; width: 25%; padding: 10px; border: 1px solid red;">
        <div id="template_sidebar_content">
          <div class="template_sidebar_node">
            <h3><%= apphelp_generic( :actions ) %></h3>

            <ul>
              <%=
                  buttons = []

                  if ( logged_in? && current_user.admin? )
                    buttons << [
                      :index,
                      {
                        :controller => PollsController,
                        :method     => :user_polls_path,
                        :text       => apphelp_view_hint( :your_polls, PollsController )
                      },
                      {
                        :user_id    => current_user.id
                      }
                    ]
                  end

                  buttons << [
                    :index,
                    {
                      :controller => PollsController,
                      :method     => :polls_path
                    }
                  ]

                  if ( logged_in? )
                    buttons << [
                      :index,
                      {
                        :controller => DonationsController,
                        :method     => :user_donations_path,
                        :text       => apphelp_view_hint( :your_donations, DonationsController )
                      },
                      {
                        :user_id    => current_user.nil? ? 0 : current_user.id
                      }
                    ]

                    if ( current_user.admin? )
                      buttons << [
                        :index,
                        {
                          :controller => DonationsController,
                          :method     => :donations_path
                        }
                      ]
                    end
                  end

                  buttons += [
                    [
                      :index,
                      {
                        :controller => AuditersController,
                        :method     => :auditers_path
                      }
                    ],
                    [
                      :index,
                      {
                        :controller => UsersController,
                        :method     => :users_path
                      }
                    ],
                    [
                      :index,
                      {
                        :controller => CurrenciesController,
                        :method     => :currencies_path
                      }
                    ]
                  ]

                  apphelp_protected_links_to(
                    { :prefix => '<li>', :suffix => '</li>' },
                    *buttons
                  )
              %>
            </ul>
          </div>

          <p />
<%= render 'shared/fixed_sidebar' %>

        </div>
      </div>

      <div id="template_main_block_end"></div>
    </div>

<%= render 'shared/fixed_footer' %>
  </body>
</html>