<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<%= csrf_meta_tag.gsub( /^/, '    ' ) %>

    <title><%= apphelp_title %></title>

<%= include_prototype_if_used( '    ' ) -%>
<%= include_lightwindow_if_used( '    ' ) -%>
<%= include_leightbox_if_used( '    ' ) -%>
<% if using_quiet_prototype? -%>
    <%= javascript_include_tag( 'canvass/redcloth_preview.js' ) %>
<% end -%>
    <link type="text/css" rel="stylesheet" href="/css/risc_os_open_2011.css" media="all" />
    <%= stylesheet_link_tag( 'default_general', :media => :all   ) %>
    <%= stylesheet_link_tag( 'default_print',   :media => :print ) %>
  </head>
  <body>
<%= render 'shared/fixed_header' %>

    <div id="template_main">

      <!-- Main body content -->

      <div id="template_body">
        <div id="template_body_content">
          <%= hubssolib_flash_tags -%>

          <div class="content">
<% unless controller.skip_main_heading? -%>
            <h1><%= apphelp_heading() %></h1>
<% end -%>
<%= yield  %>
          </div>
        </div>
      </div>

      <!-- Sidebar -->

      <div id="template_sidebar">
        <div id="template_sidebar_content">
          <div class="template_sidebar_node">
            <h3>Search whole site</h3>

            <p />
            <form action="http://www.google.com/search" method="get" class="searchform">
              <input type="hidden" name="num"           value="10" />
              <input type="hidden" name="hl"            value="en" />
              <input type="hidden" name="as_sitesearch" value="www.riscosopen.org" />
              <input type="text" value="" maxlength="256" size="15" name="q" id="q" />
              <b><input type="submit" value="Go" name="btnG" /></b>
            </form>
          </div>

          <p />
<%= render 'shared/fixed_sidebar' %>

          <p />
          <div class="template_sidebar_node">
            <h3><%= apphelp_generic( :actions ) %></h3>

            <ul>
              <%=
                  buttons = []

                  if ( logged_in? && current_user.admin? )
                    buttons << [
                      :index,
                      {
                        :controller => PollsController,
                        :method     => :user_polls_path,
                        :text       => apphelp_view_hint( :your_polls, PollsController )
                      },
                      {
                        :user_id    => current_user.id
                      }
                    ]
                  end

                  buttons << [
                    :index,
                    {
                      :controller => PollsController,
                      :method     => :polls_path
                    }
                  ]

                  if ( logged_in? )
                    buttons << [
                      :index,
                      {
                        :controller => DonationsController,
                        :method     => :user_donations_path,
                        :text       => apphelp_view_hint( :your_donations, DonationsController )
                      },
                      {
                        :user_id    => current_user.nil? ? 0 : current_user.id
                      }
                    ]

                    if ( current_user.admin? )
                      buttons << [
                        :index,
                        {
                          :controller => DonationsController,
                          :method     => :donations_path
                        }
                      ]
                    end
                  end

                  buttons += [
                    [
                      :index,
                      {
                        :controller => AuditersController,
                        :method     => :auditers_path
                      }
                    ],
                    [
                      :index,
                      {
                        :controller => UsersController,
                        :method     => :users_path
                      }
                    ],
                    [
                      :index,
                      {
                        :controller => CurrenciesController,
                        :method     => :currencies_path
                      }
                    ]
                  ]

                  apphelp_protected_links_to(
                    { :prefix => '<li>', :suffix => '</li>' },
                    *buttons
                  )
              %>
            </ul>
          </div>
        </div>
      </div>

      <div id="template_main_block_end"></div>
    </div>

<%= render 'shared/fixed_footer' %>
  </body>
</html>
